table{
    border-spacing: 8px;
}
td{
    
    border: 2px solid white;
    
}
td:hover{
    background-color: aqua;
}
body{
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-image: url(bg.svg);
    background-size: cover;
    overflow: hidden;
}