table{
    border-spacing: 8px;
}
td{
    
    border: 2px solid white;
    
}
td:hover{
    background-color: aqua;
}
body{
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-image: url(bg.svg);
    background-size: cover;
    overflow: hidden;
}

.reload
{
    border: 2px solid aliceblue;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    opacity: 0;
    margin-bottom: 15px;
    margin-top: 100px;
}

.rightDiv
{
    display: flex;
    flex-direction: column;
}